$FontColor: rgb(32, 38, 40);

nav {
	width: 100%;
	height: 8vh;

	color: $FontColor;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.h1 {
	font-size: 2rem;
	font-weight: bold;
}

ul {
	width: 40%;

	display: inline-grid;
	grid-template-columns: repeat(4, 25%);
	justify-items: center;
	align-items: center;
}

li {
	list-style: none;

	font-size: 1rem;
	text-align: center;

	transition: 0.2s ease;

	&:hover {
		font-size: 1.2rem;
		// border-bottom: 0.5px solid $FontColor;
	}
}
